alias la="ls -a"

# Ring the bell
alias bell="tput bel"

alias sizes="du -ah . | sort -hr | head -n 20"

alias vim="nvim"

#
# fzf
#

# Find man pages
alias fman="bash -c 'compgen -c' | fzf | xargs man"

# Find git branches
alias fbranches="branches | fzf | xargs git checkout"

#
# z
#

alias z="fasd_cd -d"

#
# Git
#

alias g="git"

# List git branches
alias branches="git for-each-ref --sort=-committerdate --count=20 --format='%(refname:short)' refs/heads/"

#
# Neovim
#

alias nvim-init="nvim ~/.config/nvim/init.lua"

alias nvim-update="brew upgrade neovim && nvim --headless +PlugUpgrade +PlugUpdate +qa"

alias nvim-snippets="nvim ~/.config/nvim/luasnips"
