export VISUAL=nvim

export EDITOR="$VISUAL"

#
# Node
#

export NODE_NO_WARNINGS=1
export NODE_OPTIONS=--max-old-space-size=8192

#
# Ripgrep
#

export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

#
# Fzf
#

export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow --glob "!.git/*"'

#
# lazygit
#

export XDG_CONFIG_HOME="$HOME/.config"
